<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
        {{!-- Google fonts --}}
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Sen&display=swap" rel="stylesheet">
        <!-- Font Awesome -->
        <script src="https://kit.fontawesome.com/359e13dbb2.js" crossorigin="anonymous"></script>

        {{!-- Favicon --}}
        <link rel="shortcut icon" href="/orca_logo_64x64.png" type="image/x-icon">

        <title>{{ title }}</title>
    </head>
    <body>
        <header>
            <nav>
                <a href="/">HOME</a>
                {{#if loggedIn}}
                    <a href="/petition">PETITION</a>
                    <a href="/petition/signers">SIGNERS</a>
                    <a href="/userprofile/edit"><i class="fas fa-user" style="margin-right: 8px;"></i>MY PROFILE</a>
                {{else}}
                    <a href="/petition">REGISTER</a>
                {{/if}}
            </nav>
            {{#if loggedIn}}<a href="/logout"><button class="log">Logout</button></a> {{else}} <a href="/login"><button class="log">Login</button></a> {{/if}}
        </header>
        
        <main>

            {{{ body }}}

        </main>

        <footer>
            <img src="/orca_logo_400x400.png" height="30" alt="">
            <span>&copy; Free Willy Foundation</span>
        </footer>

    </body>
</html>