

<div class="container" id="home">
    <h1>Free <span class="black">ORCAS</span></h1>
    <h2>from the swimming pool</h2>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae distinctio, unde veritatis, quos rerum cumque maxime optio praesentium, esse consectetur vitae ipsam commodi laboriosam fuga inventore aut similique necessitatibus minima?</p>

    {{#if error}}
        <p>OOOOps there hass been an error. Please try again!</p>
    {{/if}}

    <form action="" method="POST">
        <input type="text" name="first-name" required placeholder="First Name">
        <input type="text" name="last-name" required placeholder="Last Name">
        <input type="hidden" name="signature-data" required>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <canvas id="signature-canvas" width="500" height="130"></canvas>
        <button type="submit">SUBMIT</button>
    </form>
</div>




<script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
<script src="/canvas.js"></script>