    <h2>People from {{ city }} who signed already.</h2>
    <h3><a href="/petition/signers">SEE ALL SIGNERS</a></h3>

    <ul class="fa-ul">
        {{#signers}}

            {{#if (checkCity city)}}

                {{>signers}}

            {{/if}}

        {{/signers}}
    </ul>