<h2>These are the all people who have signed already.</h2>

<ul class="fa-ul">
    {{#signers}}

        {{#if (checkCity city)}}

            {{>signers}}

        {{/if}}

    {{/signers}}
</ul>