<div class="container">

    <p>Thanks for signing!</p>

    <a href="/petition/signers">See all signers</a>

    <p>Your signature</p>

    {{#if signData}}
        <div class="signature-img">
            <img src="{{signData}}" alt="">
        </div>
    {{/if}}

</div>

