<div class="container">

    <h1>Thanks for signing!</h1>

    <h3>
        <a href="/petition/signers">See all {{count}} signers...</a>
    </h3>



    {{#if signData}}
        <p class="text-center">Interested in more information? Go to <a href="https://uk.whales.org/our-4-goals/end-captivity/">uk.whales.org</a></p>
        <div class="block-center">
            <img class="signature-img" src="{{signData}}" alt="">
            <p style="padding-left: 10px; margin-top: 0">Your signature</p>
        </div>
    {{/if}}

</div>

