<div class="container">

    <h1>Thanks for signing!</h1>

    <h3>
        <a href="/petition/signers">See all signers...</a>
    </h3>


    {{#if signData}}
        <div class="signature-img">
            <img src="{{signData}}" alt="">
        </div>
        <p>Your signature</p>
    {{/if}}

</div>

