<div class="container" id="register">
    <h1>Free <span class="text-dark text-shadow-light">ORCAS</span></h1>
    {{!-- <h2>from the swimming pool</h2> --}}

    <h3>PLEASE TELL US A LITTLE MORE ABOUT YOURSELF!</h3>

    {{#if error}}
        <p class="text-center">OOOOps there has been an error. Please try again!</p>
    {{/if}}

    <form action="" method="POST">
        <input type="text" name="age" placeholder="Age">
        <input type="text" name="city" placeholder="City">
        <input type="url" name="homepage" pattern="http.*" placeholder="https://www.example.com">

        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <button type="submit">CONTINUE</button>
    </form>
    {{!-- <a class="text-center">Already registered? <a href="/login">LogIn here!</a></a> --}}
</div>