<div class="container" id="userprofile">
    <h1>Free <span class="text-dark text-shadow-light">ORCAS</span></h1>
    <h3>PLEASE TELL US A LITTLE MORE ABOUT YOURSELF!</h3>

    {{#if error}}
        <p class="text-center">{{ error }}</p>
    {{/if}}

    <form action="" method="POST">
        <input type="text" name="age" placeholder="Age">
        <input type="text" name="city" placeholder="City">
        <input type="url" name="homepage" pattern="http.*" placeholder="https://www.example.com">

        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <button type="submit">CONTINUE</button>
    </form>
</div>