<div class="container" id="userprofile-delete">
    {{!-- <span>Free <span class="text-dark text-shadow-light">ORCAS</span></span> --}}
    {{!-- <h2>from the swimming pool</h2> --}}

    <h3>ARE YOU SURE YOU WANT TO DELETE YOUR ACCOUNT?</h3>

    {{#if error}}
        <p class="text-center">{{ error }}</p>
    {{/if}}

    <form action="" method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <button class="warning" type="submit"><i class="fas fa-trash" style="margin-right: 10px;"></i> DELETE ACCOUNT</button>
    </form>

</div>