body {
    margin: 0;
    background-color: #3c3a41;
    color: #c5ccd2;
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('https://images.unsplash.com/photo-1574969970937-a90cdcbeea2e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3100&q=80') rgba(60, 58, 65, 1);
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
}

header {
    width: 100%;
    padding: 10px 0;
    font-family: 'Sen', sans-serif;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
}

nav {
    max-width: 978px;
    padding: 10px 10px;
}

nav a {
    margin: 0 10px;
}

main {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 978px;
    margin: 30px 0;
}

h1,
h2,
h3 {
    font-family: 'Sen', sans-serif;
    text-align: center;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 2.5em;
}

#home h1,
#home h2 {
    margin: 0;
}

.black {
    color: black;
}

a {
    color: #e0b080;
    text-decoration: none;
}

li {
    margin: 8px 0;
    font-family: 'Sen', sans-serif;
    font-size: 1.2em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    padding: 10px 14px 5px 14px;
    margin: 15px 0px;
    border-radius: 10px;
    border: none;
    border-bottom: 2px solid #c2c2c2;
    background-color: transparent;
    color: #c2c2c2;
    font-size: 1.1em;
}

input:focus {
    border-bottom: 2px solid #e0b080;
}

button {
    padding: 13px 25px;
    margin: 5px 0px;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 1em;
    color: #f8f6f4;
    background-color: black;
    cursor: pointer;
}

button:hover {
    background-color: #c2c2c2;
    color: black;
}

input:focus,
button:focus {
    outline: none;
}

#signature-canvas {
    background-color: #c5ccd2;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px 2px black;
    margin: 10px 0;
}

.signature-img {
    background-color: #c5ccd2;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px 2px #3c3a41;
    margin: 10px 0;
}

footer {
    width: 98%;
    padding: 10px 0;
    /* max-width: 1200px; */
    padding: 10px 10px;
    font-family: 'Sen', sans-serif;
}
